body {
  margin: 0;
}

/** Font Styles **/
h1 {
  margin: 0;
  font-size: 2.1em;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 1.4em;
}

/** /Font Styles **/

/** Top Bar Region **/

#top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability_statement {
  background-color: #1d407e;
  padding: 10px;
  height: 40px;
  text-align: center;
  margin: 15px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .availability_statement {
    padding: 10px;
  }
}

.psu_logo {
  margin-left: 15px;
}

.availability_statement p {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .availability_statement p {
    font-size: 16px;
  }
}

/** /Top Bar Region**/

/** Header Region **/

.header_image {
  background: url("assets/images/restek_psu_header.png");
  height: 400px;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
}

#title_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#header_title_wrap {
  display: flex;
  justify-content: center;
}

.header_title {
  background-color: #1d407e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding: 15px 40px;
  position: absolute;
}

@media screen and (max-width: 700px) {
  .header_title h1 {
    font-size: 24px;
  }
}

.world_campus_logo {
  background-color: #132940;
  position: absolute;
  padding: 16px 45px 32px;
}

@media screen and (max-width: 700px) {
  .world_campus_logo {
    padding: 0px 18px 40px;
  }
}

#header_info_wrap {
  background-color: #0074c8;
  padding: 55px 30px 40px;
}

@media screen and (max-width: 700px) {
  #header_info_wrap {
    padding: 65px 30px 30px;
  }
}

#header_info_wrap p {
  color: #fff;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

/** /Header Region **/

/** Course Region **/

#course_wrap {
  display: flex;
  background-color: #e7e7e8;
  border-bottom: solid 4px #fff;
}

@media screen and (max-width: 700px) {
  #course_wrap {
    flex-direction: column;
  }
}

#course {
  width: 30%;
  background-color: #1d407e;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1025px) {
  #course {
    width: 100%;
  }
}

.course_number {
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}

.upper {
  font-family: "Roboto Slab", serif;
  font-size: 23px;
  text-transform: uppercase;
}

@media screen and (max-width: 700px) {
  .upper {
    font-size: 16px;
  }
}

.lower {
  font-family: "Roboto Slab", serif;
  font-size: 48px;
  font-weight: bold;
  margin-top: -10px;
}

@media screen and (max-width: 700px) {
  .lower {
    font-size: 30px !important;
  }
}

.course_name {
  background-color: #1d407e;
  color: #fff;
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .course_name {
    padding: 10px;
    float: right;
  }
}

.course_name p {
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 300;
}

@media screen and (max-width: 700px) {
  .course_name p {
    font-size: 20px !important;
  }
}

.course_description {
  font-family: "Lato", sans-serif;
  background-color: #e7e7e8;
  width: 70%;
  padding: 24px 20px;
}

.course_description p {
  font-size: 20px;
}

@media screen and (max-width: 700px) {
  .course_description {
    padding: 24px 20px 24px 30px;
  }
}

/** /Courses Region **/

/** Tile Region **/

#promo_tile_container {
  display: flex;
  align-items: center;
  background-color: #0074c8;
  margin-top: -4px;
  padding: 30px 10px 30px;
}

@media screen and (max-width: 700px) {
  #promo_tile_container {
    flex-direction: column;
  }
}

.tile {
  background-color: #0074c8;
  width: 23vw;
  height: 23vw;
  display: flex;
  border: 2px solid white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 15px;
}

@media screen and (max-width: 887px) {
  .tile {
    width: 60vw;
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 670px) {
  .tile {
    width: 80vw;
    height: 80vw;
  }
}

.tile_title {
  display: flex;
  justify-content: center;
}

.tile_title p {
  color: #fff;
  font-family: "Roboto Slab", serif;
  font-size: 28px;
}

@media screen and (max-width: 1024px) {
  .tile_title p {
    font-size: 18px;
  }
}

.tile_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.tile_icon img {
  width: 50%;
}

.tile_info {
  background-color: #fff;
  position: absolute;
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.tile:hover {
  cursor: pointer;
}

@media screen and (max-width: 887px) {
  .tile_info {
    width: 60vw;
    height: 60vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 670px) {
  .tile_info {
    width: 80vw;
    height: 80vw;
  }
}

.tile.active .tile_info {
  opacity: 1;
}

.tile_info p {
  font-family: "Roboto Slab", serif;
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/** /Tile Region **/

/** Quote Region **/

#quote_wrap {
  background-color: #1d407e;
  margin-top: -10px;
}

.quote {
  padding: 30px 0 20px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .quote  {
    padding: 18px 11px;
  }
}

.quote p {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-size: 24px;
}

@media screen and (max-width: 700px) {
  .quote p {
    font-size: 16px;
  }
}

.quote_source {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .quote_source  {
    padding: 10px;
  }
}

@media screen and (max-width: 700px) {
  .quote_source p {
    font-size: 14px;
  }
}

/** /Quote Region **/

/** Footer Region **/

#footer_wrap {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px;
}

@media screen and (max-width: 700px) {
  #footer_wrap {
    flex-direction: column-reverse;
  }
}

.footer_items {
  margin: 5px 0 5px;
  width: 33.33%;
  align-items: center;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .footer_items {
    width: 100%;
    padding-bottom: 10px;
  }
}

.partnership {
  background-color: #e7e7e8;
  text-align: center;
  padding: 25px;
}

@media screen and (max-width: 700px) {
  .partnership {
    width: 100%;
  }
}

.partnership p {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.partnership a {
  text-decoration: none;
}

.partnership a:hover {
  color: #1d407e;
}

.ecos_logo img {
  width: 60%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.restek_logo img {
  width: 35%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

/** /Footer Region **/

/** Basement Region **/

#basement {
  background-color: #132940;
}

.legal_statement {
  display: flex;
  justify-content: center;
}

.legal_item {
  padding: 25px 5px 25px 0;
}

@media screen and (max-width: 700px) {
  .legal_item  {
    padding: 25px 0 25px;
  }
}

.legal_item p:hover {
  color: #0074c8;
}

@media screen and (max-width: 700px) {
  .legal_item p {
    font-size: 11px !important;
  }
}

.legal_item p {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.legal_item a {
  text-decoration: none;
}
/** /Basement Region **/
